.count-on{

	.counter{
		position: relative;
		font-family: $secondary-font-family;
		font-size: 50px;
		line-height: 56px;
		color: #fff;
		padding: 29px 0;
		margin: 0 auto;
		width: 115px;
		background: $bg-dark;

		&::after{
			content: '';
			background: #fefeff;
			opacity: 0.2;
			width: 140px;
			height: 155px;
			z-index: -1;
			position: absolute;
			top: 15px;
			right: 15px;
		}
	}
	h5{
		margin-top: 10px;
		text-align: center;
		letter-spacing: 0.04em;
	}
}

@media(min-width: $screen-md-min){
	.count-on{
		h5{
			margin-left: 50px;
			text-align: left;
		}
	}	
}
@media(min-width: $screen-lg-min){
	.count-on{
		h5{ margin-left: 80px; }
	}	
}
@media(min-width: $screen-xl-min){
	.count-on{
		h5{ margin-left: 150px; }
	}	
}
